.row.installation
  .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
    = image_tag "/images/gitlab-runner-illustration_2x.png", class: "hidden-xs", alt: "Integrated GitLab CI", style: "width: 60%; margin-top: 60px; margin-left: 20%;"
  .col-xs-12.col-md-6
    %h2#gitlab-runner GitLab Runner
    %p
      To perform the actual build, you need to install GitLab Runner which
      is written in Go.
    %p
      It can run on any platform where you build Go binaries,
      including Linux, macOS, Windows, FreeBSD and Docker.
    %p
      It can test any programming language including .Net, Java, Python, C, PHP and others.
    %p
      GitLab Runner has
      = succeed "," do
        %a{href: "https://docs.gitlab.com/runner#features"} many features
      including
      = succeed "," do
        %a{href: "https://docs.gitlab.com/runner/configuration/autoscale.html"} autoscaling
      = succeed "," do
        %a{href: "https://docs.gitlab.com/runner/executors/docker.html"} great Docker support
      and the ability to run multiple jobs concurrently.
    %p
    %h3
      %a{href: "https://docs.gitlab.com/runner/install"} Install GitLab Runner
%hr.divider/
