---
layout: handbook-page-toc
title: "Fulfillment Section Engineering Metrics"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

These pages are part of our centralize [Engineering Metrics Dashboards](/handbook/engineering/metrics/)

### Group Pages
* [Purchase Group Dashboards](/handbook/engineering/metrics/fulfillment/purchase)
* [License Group Dashboards](/handbook/engineering/metrics/fulfillment/license)
* [Utilization Group Dashboards](/handbook/engineering/metrics/fulfillment/utilization)

<%= partial "handbook/engineering/metrics/partials/team_dashboard.erb", locals: { filter_type: "stage", filter_value: "Fulfillment" } %>

